body {
font: normal normal normal 14px Verdana, sans-serif;
padding: 0px;
margin: 0px;
}
ul {
padding: 0px;
list-style-type: none;
}
h1 {
  color: #487858;
  font-size: 20px;
}
h2 {
  color: #487858;
  font-size: 16px;
}
#content a {
color: #AB5603;
text-decoration:none;
}
#content a:hover {
color: #AB5603;
text-decoration:underline;
}
.username {
font-weight: bold;
}
.row1 {
background-color:#EEE;
}
.row2 {
background: #FFF;
}
.highlight {
background-color: #E0FFB8;;
}
#header {
padding-left: 10px;
padding-top: 10px;
background-color: #092E20;
color: white;
height:60px;
min-height:60px;
}
#header h1.title {
  font-size:26px;
  color:white;
  float:left;
}
#header a {
  color:white;
  text-decoration:none;
}
#footer {
  background-color: #487858;
  font-size: 13px;
  color:white;
  text-align:center;
  padding-left: 10px;
  margin-top: 20px;
}
#footer a{
  color:white;
}
#content {
padding-left: 10px;
line-height:18px;
}
div#search {
float:right;
padding: 18px 10px 0 0;
}
a.sli {
text-decoration:none;
}
li.search_li{
margin:10px;
}
.norm {
color:black;
}
.clear {
clear: both;
height: 0;
line-height: 0;
}
ul#al li {
  padding:2px;
}
ul#ll li{
font-size:11px;
}
